.listPage {
  display: flex;
  height: 100%;
}

.list-container {
  flex: 3;
  
  
  .wrapper{
    margin-top: 25px;
    height: 100%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow-y: scroll;
    padding-bottom: 50px;
    .filter{
      margin-bottom: -10px;
    }
  }
}
.map-container {
  flex: 2;
  height: 100%;
  // border-radius: none;
  background-color: #fcfcf3;
}
