.filter{
  display: flex;
  flex-direction: column;
  gap: 10px;


  h1{
    font-weight: 300;
    font-size: 24px;
  }
  .item{
    display: flex;
    flex-direction: column;
    gap: 2px;
    label{
      font-size: 10px;
    }

    input,select{
      width: 100px;
      padding: 10px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      font-size: 14px;

    }
  }

  .top{
    input{
      width: 100%;
    }
  }

  .bottom{
    display: flex;
    justify-content: space-between;
    gap: 20px;

    button{
      padding: 5px;
      width: 83px;
      height: 48px;
      
      border-radius: 5px;
      cursor: pointer;
      background-color: rgba(63, 62, 62, 0.817);
      // background-color: rgb(54, 93, 138);
      img{
        width: 20px;
        color: white;
        height: 20px;
      }
    }
  }

}