.singlePage{
  display: flex;
  height: 100%;
  // margin-top: 20px;
  
  .details{
    flex: 3;
    margin-top: 20px;
    .wrapper{
      
      padding-right: 50px;
      .info{
        margin-top: 40px;
        .top{
          display: flex;
          justify-content: space-between;
            .post{
              display: flex;
              flex-direction: column;
              gap: 20px;
              h1{
                font-weight: 500;
              }
              .address{
                display: flex;
                gap: 5px;
                align-items: center;
                color: #888;
                img{
                  width: 16px;
                  height: 16px;
                }

              }
              .price{
                padding: 5px;
                background-color: rgb(178, 200, 226,0.438);
                border-radius: 5px;
                width: max-content;
                font-size: 20px;
                font-weight: 300;
              }
            }
            .user{
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 20px;
              padding: 0 50px;
              background-color: rgb(178, 200, 226,0.438);
              border-radius: 5px;
              font-weight: 600;
              img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
              }
            }
        }
        .bottom{
            margin-top: 30px;
            color:#555;
            line-height: 20px;
        }
      }

    }
  }
  .features{
    flex: 2;
    background-color: aliceblue;

    .wrapper{
      padding: 0px 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      
        img{
          width: 24px;
          height: 24px;
        }
        .title{
          font-weight: bold;
          font-size: 10px;
          margin-bottom: 10px;
        }
        .features{
          display: flex;
          align-items: center;
          gap: 10px;
          img{
            // background-color: pink ;
            background-color: rgba(254,205,81,0.209) ;

          }
          .featureText{
            span{
              font-weight:bold ;
            }
            p{
              font-size: 14px;
            }

          }
        }
          .listvertical{
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px 10px;
            background-color: white;
            border-radius: 10px;
          }
    }
  }
}