@import "../../responsive.scss";

.homepage {
  display: flex;
  height: 100%;

  .text-container {
    flex: 3;

    .wrapper {
      margin-top: 10px;
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      height: 100%;
      @include md {
        padding: 0;
      }

      @include sm{
        margin-top: 25px;
        justify-content: flex-start;
      }
      .title {
        font-size: 64px;

        @include lg {
          font-size: 48px;
        }
      }
      .boxes {
        display: flex;
        justify-content: space-between;

        @include sm{
          display: none;
          
        }

        h1 {
          font-size: 36px;

          @include lg {
            font-size: 32px;
          }
        }
        h2 {
          font-weight: 300;
        }
      }
    }
  }
  .image-container {
    flex: 2;
    
    background-color: rgb(182, 199, 219);
    @include md {
      display: none;
    }
    @include lg {
      // display: none;
      width: 105%;
    }

    position: relative;
    display: flex;
    align-items: center;
    img {
      width: 110%;
      position: absolute;
      right: 0;
    }
  }
}
