*{
  padding:0;
  margin: 0;
  box-sizing:border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  font-family: "Lato",sans-serif;
  box-sizing:border-box;
  
  background-color: rgba(173, 184, 212, 0.459);
  overflow: hidden;
}
